/* Your Custom CSS Goes here */

@media (max-width: 930px) {

    /* table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    } */


    .mobile-pagination-responsive {
        overflow: auto;
    }
}


.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}


.pointer {
    cursor: pointer;
}

.opacity {
    opacity: 0.8;
}
